.HomeArticle li {
    margin-bottom: 1.2rem;
}
nav.menu > ul > li > ul > li > a {
    border-radius: 8px;
    margin: 0.4rem;
}
nav.menu > ul ul {
    padding: 0.7rem 0rem 0.7rem 0rem;
}
* {
    text-shadow: none !important;
}
.article-menu,
.toc {
    border-radius: 14px;
}
.point,
.hosoku {
    border-radius: 14px;
}
.block-note,
.note {
    border-radius: 14px;
}
@media (prefers-color-scheme: light) {

    body {
        background: #eaeaea;
    }
    h1,
    h2 {
        color: rgb(16, 163, 229) !important;
    }
    .time {
        color: #EA9304;
    }
    a,
    .hpBox a {
        color: rgb(228, 67, 100) !important;
    }
    h2 a {
        color: rgb(228, 67, 100) !important;
    }
    .hpBox {
        text-shadow: none !important;
        background-color: rgb(244, 244, 244);
        box-shadow: 0 0 0 8px #fff, -2px 2px 5px 8px #b2b2b2;
        border: 2px dashed #747474;
    }

    article {
        color: rgb(0, 0, 0);
    }
    .homepage {
        color: rgb(0, 0, 0);
    }

    nav.menu > ul {
        background: #fff;
    }

    nav.menu > ul > li:hover > a,
    nav.menu > ul > li:hover > span {
        background: #85858559;
    }
    nav.menu > ul > li:hover > a,
    nav.menu > ul > li:hover > span {
        color: rgb(228, 67, 100)!impoRTANT;
    }
    nav.menu > ul ul {
        background: #F4F4F4;
        box-shadow: rgba(0, 0, 0, .3) 0px 8px 12px;
    }
    nav.menu a,
    .avatar > div > div:nth-child(2) > a,
    nav.menu span {
        color: rgb(228, 67, 100)!impoRTANT;
        text-shadow: none;
    }
    nav.menu > ul > li > ul > li {
        border-bottom: 6px dotted rgba(0, 0, 0, .1)
    }
    nav.menu > ul > li > ul > li:hover > a {
        color: rgb(228, 67, 100)!impoRTANT;
        background: rgba(228, 67, 100, .2);
    }

    #BackTop {
        background-color: #FFF;
        color: #999;
        box-shadow: 0px 6px 8px #00000045;
    }

    footer > div:nth-child(2) {
        background-color: #2F3747;
    }

    footer > div:nth-child(2) > div:nth-child(1) > address {
        color: #939AA9;
    }

    #ftBar {
        background: #FFF;
        box-shadow: rgba(0, 0, 0, .35) 0px 4px 20px;
        color: #000;
    }

    .HomeArticle li {
        box-shadow: 0px 2px 4px #00000040;
        background: #ffffff;
    }

    #breadcrumbs a {
        color: #FFF !important;
        background-image: none;
        background-color: rgb(228, 67, 100);
    }
    #breadcrumbs a::after,
    #breadcrumbs a::before,
    #breadcrumbs pathway::before,
    #breadcrumbs .pathway::after {
        border-top: none;
        border-bottom: none;
        border-left: none;
    }
    #breadcrumbs a:hover,
    #breadcrumbs .pathway:hover {
        background: rgb(255, 134, 150);
        color: #fff !important;
    }
    .article-menu,
    .toc {
        background: #FFF;
        box-shadow: 5px 5px 5px 0px #00000045;
        border-left: 23px solid #48536b;
    }
    .toc::before {
        color: #48536b;
        border-bottom: 9px solid #4b5771;
    }
    :lang(ja) {
        color: #265194;
    }
    .keyword,
    .keyword :lang(ja),
    :lang(ja) .keyword,
    :lang(ja) .keyword *,
    :lang(ja).keyword {
        color: #DC8400;
    }
    .hosoku {
        color: #2D2D2D;
        background-color: #B2B8BE;
    }
    .hosoku :lang(ja) {
        color: #265194;
    }
    .hosoku .trans {
        color: #0E7A44;
    }
    .block-url,
    .related {
        color: #000;
        border-radius: 4px;
        background: #FFF;
        border-left: 8px dotted #000;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, .2), 1px 0px 0 1px #1f1f1f, 2px 0px 0 1px #1f1f1f70, 3px 0px 0 1px #787878de, 4px 0px 0 1px #1f1f1f7d, 5px 0px 0 1px #585858de, 5px 0px 10px 1px #47474796;
    }
    .pager {
        background: rgb(212, 212, 212);
    }
    .no_access_box::before {
        background-image: none;
    }
    .no_access_box {
        color: #000;
        border-radius: 14px;
        padding: 10px;
        margin: 0 auto 45px auto;
        box-shadow: 0px 0px 20px #0000003B;
        background: #FFF;
        box-sizing: border-box;
    }
    .no_access_border {
        border: 2px dashed #0000001F;
        box-shadow: none;
        border-radius: 14px;
        padding: 10px;
    }
    h3 a:hover {
        color: rgb(228, 67, 100) !important;
    }
    .no_access_content > h3 {
        color: #000 !important;
    }
    article h3 a {
        color: #000 !important;
    }
    .no_access_box .block {
        color: #000;
        border-radius: 6px;
    }
    .waku {
        border: 2px solid #00000012;
        border-radius: 6px;
    }
    :lang(en),
    :lang(fr),
    :lang(es),
    :lang(pt),
    :lang(nl) {
        color: #3D7C68;
    }
    .no_access_content {
        color: #000;
    }
    table#myTable {
        border: 2px solid #0000004F;
        background: #FFF;
    }
    table th,
    td {
        color: #000;
        background: #FFF;
    }
    table#myTable th {
        background: #0000000F;
    }
    table#myTable td:first-child,
    table#myTable th:first-child {
        color: #5C5C5C;
    }
    .block-dashed,
    .block {
        outline: 8px solid #303747;
        box-shadow: 0px 6px 10px 10px rgba(0, 0, 0, .2);
        border: 2px dashed #B9D8FF3D;
    }
    .block :lang(ja),
    .block-dashed :lang(ja) {
        color: #619FFF;
    }
    .block .num,
    .block-dashed .num {
        color: rgb(209, 138, 92);
    }
    strong {
        color: #000;
        background-color: transparent;
        background: linear-gradient( transparent 60%, #0073FF5E 0%);
    }
    .note strong {
        color: #FFF;
        background-color: rgb(26 48 62);
        background: -webkit-linear-gradient( transparent 60%, #601f30 0%);
        background: linear-gradient( transparent 60%, #598ABB 0%);
        font-weight: normal;
    }
    .url {
        position: relative;
        color: #000;
        font-size: .9em;
        background: #FFF;
        box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, .2);
        line-height: 2em;
    }

    .marginTop {
        color: #147A97 !important;
    }
    .gold,
    :lang(ja) .gold,
    :lang(ja) .gold *,
    :lang(ja).gold {
        color: #C97200;
    }
}